.block-edit {
    min-width: 400px;

    &--description {
        align-items: center;
        display: flex;
        background-color: #e1f9ff;
        border-left: 4px solid #B3F0FF;

        padding: 10px;

        &::before {
            content: "ⓘ";
            margin-right: 5px;;
        }
    }

    &--header {
        display: flex;
        justify-content: space-between;

        .button-list {
            width: 200px;
        }
    }

    &--input {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .block-edit {
        min-width: 0;

        &--header {
            flex-direction: column-reverse;
        }
    }
}