.container-editor {
    &--builder {
        display: flex;
        max-width: 100%;
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 1024px) {
    .container-editor {
        &--builder {
            flex-direction: column;
        }
    }
}