.container-renderer {
    display: inline-flex;
    &--blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &--buttons {
        &-desktop {
            display: block;
        }

        &-mobile {
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container-renderer {
        display: block;
        &--blocks {
            flex-direction: column;
        }

        &--buttons {
            &-desktop {
                display: none;
            }
            
            &-mobile {
                display: block;
            }
        }
    }
}